.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

img {
    height: 100%;
    border-radius: 5px;
}

.img {
    position: absolute;
    top: 4vh;
    right: 5vw;
    height: 85%;
    z-index: 1;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}