/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #e6e0dd;
}

input {
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding: 1vh;
    margin: 1vh 0;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0);
    outline: none;
    font-size: 3vh;
}

input:focus {
    border: none;
    border-bottom: 2px solid rgb(139, 139, 139);
    box-shadow: 0 2px 5px rgb(139, 139, 139);
}

label {
    color: rgb(95, 94, 94);
    font-size: 4vh;
    padding: 1vh;
}